main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0;
}

a {
    display: inline-block;
}

nav .container-fluid {
    width: 93vw;
    padding: 0 0 0 1vw;
}

nav div {
    margin: 0 auto;
}

.navbar-toggler {
    padding: 0 !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.1s;
}

.nav-item {
    text-align: right;
}

button {
    font-size: 19px;
    min-height: 39px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    transition: all ease-in-out 0.1s;

}

.topDiv {
    height: 13%;
    min-height: 116px;
    margin-bottom: 5%;
    padding: 0 3%;
    width: 93vw;
    max-width: 1045px;
    border: none;
    row-gap: 15px;
    gap: 10px;
}

.topDiv span {
    font-size: 25px;
}

.topDiv button {
    width: 11.5%;
    min-width: 116px;
}

.topDiv button:hover {
    transform: scale(1.1);
}

.errorContainer {
    height: 90vh;
}

.errorContainer .message {
    height: 90px;
    font-size: 25px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.errorContainer button:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 600px) {
    .topDiv span {
        font-size: 20px;
    }

    .topDiv button {
        min-width: 80px;
    }
}

@media screen and (max-width: 520px) {
    .topDiv {
        flex-direction: column;
        padding: 15px 0;
    }
}

@media screen and (max-width: 370px) {
    .topDiv span {
        font-size: 15px;
    }
}