button {
    font-size: 19px;
    min-height: 39px;
    color: #3d3d3d;
    border-radius: 3px;
    border: 2px solid #b5b2b1;
    background-color: transparent;
}

.homeContainer-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0;
}

.topBox-div {
    height: 13%;
    min-height: 116px;
    margin-bottom: 5%;
    padding: 0 3%;
}

.topBox-div span {
    font-size: 25px;
}

.topBox-div button {
    width: 11.5%;
    min-width: 116px;
}

.employee-div,
.topBox-div,
.formField-div {
    width: 93vw;
    max-width: 1045px;
    border: 2px solid #cfcfcf;
}

.employee-div {
    padding: 0 2.5%;
    height: 11%;
    max-height: 95px;
    margin-bottom: 1.5%;
}

.employeesInfo-div {
    min-width: 116px;
}

.employee-div button {
    width: 10%;
    min-width: 93px;
    margin-left: 16px;
}

.name-span {
    font-size: 19px;
}

.formContainer-div {
    width: 93vw;
    max-width: 1045px;
}

form button {
    width: 10%;
    min-width: 110px;
}

form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form div {
    display: flex;
    flex-direction: column;
}

form div input {
    border: 2px solid #cfcfcf;
    border-radius: 3px;
    height: 41px;
    padding: 0 2%;
}

.formField-div {
    row-gap: 44px;
    flex-wrap: wrap;
    padding: 3% 2.5%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.fullname-div {
    width: 56%;
    max-width: 570px;
}

.nickname-div {
    width: 42%;
    max-width: 382px;
}

.cpf-div,
.role-div {
    width: 33%;
    max-width: 300px;
    min-width: 222px;
}

.birthdate-div {
    width: 27%;
    max-width: 280px;
    min-width: 180px;
}

@media screen and (max-width: 750px) {
    .formField-div {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        row-gap: 22px;
    }

    .formField-div div {
        width: 60%;
        max-width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .formField-div div {
        width: 70%;
        min-width: 50%;
    }
}