main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0;
}

a {
    display: inline-block;
}

nav {
    margin: 0 auto;
}

nav div {
    width: 93vw;
    margin: 0 auto;
}

button {
    font-size: 19px;
    min-height: 39px;
    color: #3d3d3d;
    border-radius: 3px;
    border: 2px solid #b5b2b1;
    background-color: transparent;
}

.topDiv {
    height: 13%;
    min-height: 116px;
    margin-bottom: 5%;
    padding: 0 3%;
    width: 93vw;
    max-width: 1045px;
    border: none;
}

.topDiv span {
    font-size: 25px;
}

.topDiv button {
    width: 11.5%;
    min-width: 116px;
    border: none;
}

.topDiv button:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.1s;
}

.topDiv .headTxtForm {
    font-size: 28px;
}

.errorContainer {
    height: 90vh;
}

.errorContainer .message {
    height: 90px;
    font-size: 25px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.errorContainer button {
    border: none;
}

.errorContainer button:hover {
    transform: scale(1.3);
    transition: all ease-in-out 0.1s;
}