button {
    font-size: 19px;
    min-height: 39px;
    color: #3d3d3d;
    border-radius: 3px;
    border: 2px solid #b5b2b1;
    background-color: transparent;
}

.homeContainer-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0;
}

.topBox-div {
    height: 13%;
    min-height: 116px;
    margin-bottom: 5%;
    padding: 0 3%;
}

.topBox-div span {
    font-size: 25px;
}

.topBox-div button {
    width: 11.5%;
    min-width: 116px;
}

.employee-div,
.topBox-div,
.formField-div {
    width: 93vw;
    border: 2px solid #cfcfcf;
}

.employee-div {
    padding: 0 2.5%;
    height: 11%;
    max-height: 95px;
    margin-bottom: 1.5%;
}

.employeesInfo-div {
    min-width: 116px;
}

.employee-div button {
    width: 10%;
    min-width: 93px;
    margin-left: 16px;
}

.name-span {
    font-size: 19px;
}

.formContainer-div {
    width: 93vw;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    justify-content: space-between;
}

form div {
    display: flex;
    flex-direction: column;
}

form div input {
    border: 2px solid #cfcfcf;
    border-radius: 3px;
}

.formField-div {
    padding: 3% 2.5%;
}

.fullname-div {
    width: 56%;
}

.nickname-div {
    width: 42%;
}

.cpf-div {
    width: 36%;
}

.role-div {
    width: 36%;
}