.employeesWrapper {
    width: 93vw;
    max-width: 1045px;
}

.employeeCard {
    padding: 0 2.5%;
    height: 11%;
    height: 95px;
    margin-bottom: 1.5%;
    border: 2px solid #cfcfcf;
}

.employeeCard button {
    width: 10%;
    min-width: 93px;
}

.employeeCard div {
    min-width: 116px;
}